
# Django ignore files
.DS_Store
*.sqlite
*.sqlite3
*/*.sqlite
*/*.sqlite3
*.pyc
__pycache__
env/*
bin
include
lib
local
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
media/
*/media/
/static/
.vscode
myproject/settings/production.py
myproject/settings/local.py

# React ignore files
# dependencies
/node_modules
*/node_modules/*
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
