{% include "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<style>
    .loginform {
        width:300px;
        text-align:left;
        font-size:12px;
    }
    @media only screen and (max-width: 500px) {
        .loginform {
            width: 300px;
            font-size: 12px;
        }
    }

</style>
<br>
<div style="dixplay:inline; text-align:center; margin:0 auto">
    <h3>Login</h3>

    <div class="container loginform">
        <form method='POST'>
            {% csrf_token %}
             {{ form.username|as_crispy_field }}
             {{ form.password|as_crispy_field }}
          <button type='submit' class='button'>Submit</button>
        </form>
    </div>
</div>
{% endblock %}