{% include "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<br>
<div style="dixplay:inline; text-align:center; margin:0 auto">
    <br>
    <h4>Update Profile</h4>
    <div class="container" style="width:70%;text-align:left;font-size:13px;">
        <form method='POST'>
        {% csrf_token %}
<!--        <div class="form-row">-->
                    {{ form.photo_credit_name|as_crispy_field }}
                    {{ form.current_credit_name|as_crispy_field }}
            {{ form.confirm_email|as_crispy_field }}

            {{ form.specialty|as_crispy_field }}

            <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.country |as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    <button type='submit' class='button button-default' style="margin-top:33px;height:38px;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}